@{
    ViewData["Title"] = "Home Page";
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@ViewBag.Message</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<div class="text-center">
    <img src="book.png" alt="Book" />
    <h1 class="display-4">Welcome</h1>
    <p>Log in or create a new account.</p>
</div>
